In [108]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [109]:
data=pd.read_csv("./heart_attack_prediction_dataset.csv")

In [110]:
data.sample(20)

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
8303,IZE7122,50,Female,350,99/108,72,1,1,1,1,...,0.438245,233429,18.935931,128,0,6,Italy,Europe,Southern Hemisphere,0
6198,GCG0746,22,Male,331,167/60,102,0,0,1,0,...,11.861822,167313,19.711197,521,5,9,Australia,Australia,Southern Hemisphere,0
2977,QXI9269,35,Female,123,119/81,90,1,0,0,1,...,6.046043,144750,28.272089,172,5,7,China,Asia,Northern Hemisphere,0
3415,HID9124,63,Male,219,178/85,47,1,0,1,1,...,2.743272,294708,23.333066,467,5,4,New Zealand,Australia,Southern Hemisphere,0
1333,WZM6201,85,Male,269,122/75,62,1,1,1,1,...,4.724708,54860,39.038385,321,7,7,Argentina,South America,Southern Hemisphere,0
5042,KIF5662,37,Female,287,136/67,54,1,1,0,1,...,2.555708,83397,24.736492,429,6,7,United States,North America,Northern Hemisphere,0
5208,CPT3236,79,Male,297,151/96,97,0,1,1,1,...,11.702286,263400,24.970943,792,0,5,Colombia,South America,Northern Hemisphere,0
2190,NPQ4468,43,Male,182,96/68,92,1,0,1,0,...,8.003111,58024,36.424745,202,1,6,Italy,Europe,Southern Hemisphere,1
4257,WPH5812,49,Male,363,129/60,94,1,0,1,0,...,3.314630,212845,37.764121,407,1,5,Germany,Europe,Northern Hemisphere,0
3864,RXH2187,54,Male,380,134/81,81,1,0,1,0,...,0.185459,63489,18.778445,126,4,8,Nigeria,Africa,Northern Hemisphere,0
1563,LBL8997,41,Female,395,148/104,103,0,1,1,1,...,8.692239,204375,26.495098,434,7,9,Colombia,South America,Northern Hemisphere,1
6991,NOR6149,44,Male,126,123/75,55,1,1,1,1,...,3.879484,193059,32.608659,170,1,5,Colombia,South America,Northern Hemisphere,0
4710,NEP8246,36,Male,377,143/74,62,1,0,1,1,...,5.339880,118869,28.170862,178,5,7,China,Asia,Northern Hemisphere,1
2031,WIB5076,39,Male,206,93/107,84,1,0,1,0,...,10.105102,250968,24.774934,411,2,10,Nigeria,Africa,Northern Hemisphere,1
6174,LOM7612,65,Male,230,160/91,105,0,1,1,1,...,2.549244,228777,21.913902,307,0,6,India,Asia,Northern Hemisphere,0
6077,MFQ6854,58,Male,192,179/89,60,0,1,1,0,...,4.832230,128528,28.553919,752,1,4,Germany,Europe,Northern Hemisphere,1
3437,SRO1684,38,Male,169,149/95,46,1,0,1,0,...,7.162221,40506,37.187997,315,1,8,Brazil,South America,Southern Hemisphere,0
1646,VAZ1433,64,Female,396,171/101,98,0,0,1,1,...,9.795207,165605,34.513230,601,2,8,Thailand,Asia,Northern Hemisphere,0
2243,DHP9226,28,Male,369,140/93,44,0,1,1,1,...,3.461890,82321,38.512430,215,7,9,Argentina,South America,Southern Hemisphere,0
4042,ZPQ5299,74,Male,197,165/79,48,1,1,1,1,...,8.422101,243949,35.815038,449,1,10,India,Asia,Northern Hemisphere,1

In [111]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [112]:
data.describe()

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
count,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000
mean,53.707977,259.877211,75.021682,0.652288,0.492982,0.896839,0.501426,0.598083,10.014284,0.495835,0.498345,5.469702,5.993690,158263.181901,28.891446,417.677051,3.489672,7.023508,0.358211
std,21.249509,80.863276,20.550948,0.476271,0.499979,0.304186,0.500026,0.490313,5.783745,0.500011,0.500026,2.859622,3.466359,80575.190806,6.319181,223.748137,2.282687,1.988473,0.479502
min,18.000000,120.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002442,0.000000,0.000000,1.000000,0.001263,20062.000000,18.002337,30.000000,0.000000,4.000000,0.000000
25%,35.000000,192.000000,57.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.981579,0.000000,0.000000,3.000000,2.998794,88310.000000,23.422985,225.500000,2.000000,5.000000,0.000000
50%,54.000000,259.000000,75.000000,1.000000,0.000000,1.000000,1.000000,1.000000,10.069559,0.000000,0.000000,5.000000,5.933622,157866.000000,28.768999,417.000000,3.000000,7.000000,0.000000
75%,72.000000,330.000000,93.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.050018,1.000000,1.000000,8.000000,9.019124,227749.000000,34.324594,612.000000,5.000000,9.000000,1.000000
max,90.000000,400.000000,110.000000,1.000000,1.000000,1.000000,1.000000,1.000000,19.998709,1.000000,1.000000,10.000000,11.999313,299954.000000,39.997211,800.000000,7.000000,10.000000,1.000000

In [113]:
data['Heart Attack Risk'].value_counts()

0    5624
1    3139
Name: Heart Attack Risk, dtype: int64

In [114]:
data.dtypes

Patient ID                          object
Age                                  int64
Sex                                 object
Cholesterol                          int64
Blood Pressure                      object
Heart Rate                           int64
Diabetes                             int64
Family History                       int64
Smoking                              int64
Obesity                              int64
Alcohol Consumption                  int64
Exercise Hours Per Week            float64
Diet                                object
Previous Heart Problems              int64
Medication Use                       int64
Stress Level                         int64
Sedentary Hours Per Day            float64
Income                               int64
BMI                                float64
Triglycerides                        int64
Physical Activity Days Per Week      int64
Sleep Hours Per Day                  int64
Country                             object
Continent                           object
Hemisphere                          object
Heart Attack Risk                    int64
dtype: object

In [115]:
data["Sex"].unique()

array(['Male', 'Female'], dtype=object)

In [116]:
data["Diet"].unique()

array(['Average', 'Unhealthy', 'Healthy'], dtype=object)

In [117]:
data["Country"].unique()

array(['Argentina', 'Canada', 'France', 'Thailand', 'Germany', 'Japan',
       'Brazil', 'South Africa', 'United States', 'Vietnam', 'China',
       'Italy', 'Spain', 'India', 'Nigeria', 'New Zealand', 'South Korea',
       'Australia', 'Colombia', 'United Kingdom'], dtype=object)

In [118]:
data["Continent"].unique()

array(['South America', 'North America', 'Europe', 'Asia', 'Africa',
       'Australia'], dtype=object)

In [119]:
data["Hemisphere"].unique()

array(['Southern Hemisphere', 'Northern Hemisphere'], dtype=object)

In [120]:
encoder=OneHotEncoder()

In [121]:
feature_array=encoder.fit_transform(data[["Sex","Country","Continent","Hemisphere"]]).toarray()

In [122]:
feature_labels=encoder.categories_

In [123]:
a=np.array(feature_labels,dtype=object)

In [124]:
np.ravel(feature_labels)

C:\Users\91859\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:1859: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return asanyarray(a).ravel(order=order)

array([array(['Female', 'Male'], dtype=object),
       array(['Argentina', 'Australia', 'Brazil', 'Canada', 'China', 'Colombia',
              'France', 'Germany', 'India', 'Italy', 'Japan', 'New Zealand',
              'Nigeria', 'South Africa', 'South Korea', 'Spain', 'Thailand',
              'United Kingdom', 'United States', 'Vietnam'], dtype=object)      ,
       array(['Africa', 'Asia', 'Australia', 'Europe', 'North America',
              'South America'], dtype=object)                          ,
       array(['Northern Hemisphere', 'Southern Hemisphere'], dtype=object)],
      dtype=object)

In [125]:
dummies=pd.get_dummies(data[["Sex","Country","Continent","Hemisphere","Diet"]])
dummies

,Sex_Female,Sex_Male,Country_Argentina,Country_Australia,Country_Brazil,Country_Canada,Country_China,Country_Colombia,Country_France,Country_Germany,...,Continent_Asia,Continent_Australia,Continent_Europe,Continent_North America,Continent_South America,Hemisphere_Northern Hemisphere,Hemisphere_Southern Hemisphere,Diet_Average,Diet_Healthy,Diet_Unhealthy
0,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,1,0,0
1,0,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1
2,1,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
3,0,1,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,1,0
8759,1,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
8760,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,1,0,0
8761,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,1
8762,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,0

In [126]:
dummi_droped=dummies.drop(["Sex_Female","Country_Argentina","Continent_Australia","Hemisphere_Northern Hemisphere","Diet_Average"],axis=1)

In [127]:
data_droped=data.drop(["Sex","Country","Continent","Hemisphere","Diet"],axis=1)

In [128]:
final_merged=pd.concat([data_droped,dummi_droped],axis=1)
final_merged

,Patient ID,Age,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Country_United States,Country_Vietnam,Continent_Africa,Continent_Asia,Continent_Europe,Continent_North America,Continent_South America,Hemisphere_Southern Hemisphere,Diet_Healthy,Diet_Unhealthy
0,BMW7812,67,208,158/88,72,0,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
1,CZE1114,21,389,165/93,98,1,1,1,1,1,...,0,0,0,0,0,1,0,0,0,1
2,BNI9906,21,324,174/99,72,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,JLN3497,84,383,163/100,73,1,1,1,0,1,...,0,0,0,0,0,1,0,0,0,0
4,GFO8847,66,318,91/88,93,1,1,1,1,0,...,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,121,94/76,61,1,1,1,0,1,...,0,0,0,1,0,0,0,0,1,0
8759,QSV6764,28,120,157/102,73,1,0,0,1,0,...,0,0,0,0,0,1,0,0,1,0
8760,XKA5925,47,250,161/75,105,0,1,1,1,1,...,0,0,0,0,0,0,1,1,0,0
8761,EPE6801,36,178,119/67,60,1,0,1,0,0,...,0,0,0,0,0,0,1,1,0,1
8762,ZWN9666,25,356,138/67,75,1,1,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [129]:
labels=final_merged["Heart Attack Risk"].copy()
labels

0       0
1       0
2       0
3       0
4       0
       ..
8758    0
8759    0
8760    1
8761    0
8762    1
Name: Heart Attack Risk, Length: 8763, dtype: int64

In [130]:
final_merged=final_merged.drop(["Patient ID","Blood Pressure"],axis=1)

In [131]:
final_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 47 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   int64
 1   Cholesterol                      8763 non-null   int64
 2   Heart Rate                       8763 non-null   int64
 3   Diabetes                         8763 non-null   int64
 4   Family History                   8763 non-null   int64
 5   Smoking                          8763 non-null   int64
 6   Obesity                          8763 non-null   int64
 7   Alcohol Consumption              8763 non-null   int64
 8   Exercise Hours Per Week          8763 non-null   float64
 9   Previous Heart Problems          8763 non-null   int64
 10  Medication Use                   8763 non-null   int64
 11  Stress Level                     8763 non-null   int64
 12  Sedentary Hours Per Day          8763 non-null   float64
 13  Income                           8763 non-null   int64
 14  BMI                              8763 non-null   float64
 15  Triglycerides                    8763 non-null   int64
 16  Physical Activity Days Per Week  8763 non-null   int64
 17  Sleep Hours Per Day              8763 non-null   int64
 18  Heart Attack Risk                8763 non-null   int64
 19  Sex_Male                         8763 non-null   uint8
 20  Country_Australia                8763 non-null   uint8
 21  Country_Brazil                   8763 non-null   uint8
 22  Country_Canada                   8763 non-null   uint8
 23  Country_China                    8763 non-null   uint8
 24  Country_Colombia                 8763 non-null   uint8
 25  Country_France                   8763 non-null   uint8
 26  Country_Germany                  8763 non-null   uint8
 27  Country_India                    8763 non-null   uint8
 28  Country_Italy                    8763 non-null   uint8
 29  Country_Japan                    8763 non-null   uint8
 30  Country_New Zealand              8763 non-null   uint8
 31  Country_Nigeria                  8763 non-null   uint8
 32  Country_South Africa             8763 non-null   uint8
 33  Country_South Korea              8763 non-null   uint8
 34  Country_Spain                    8763 non-null   uint8
 35  Country_Thailand                 8763 non-null   uint8
 36  Country_United Kingdom           8763 non-null   uint8
 37  Country_United States            8763 non-null   uint8
 38  Country_Vietnam                  8763 non-null   uint8
 39  Continent_Africa                 8763 non-null   uint8
 40  Continent_Asia                   8763 non-null   uint8
 41  Continent_Europe                 8763 non-null   uint8
 42  Continent_North America          8763 non-null   uint8
 43  Continent_South America          8763 non-null   uint8
 44  Hemisphere_Southern Hemisphere   8763 non-null   uint8
 45  Diet_Healthy                     8763 non-null   uint8
 46  Diet_Unhealthy                   8763 non-null   uint8
dtypes: float64(3), int64(16), uint8(28)
memory usage: 1.5 MB

In [132]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(final_merged ,labels ,test_size=.35 ,random_state=101)

In [133]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
X_train=scalar.fit_transform(X_train)
X_test=scalar.transform(X_test)

In [135]:
from sklearn.linear_model import LogisticRegression
LR_model=LogisticRegression().fit(X_train,y_train)

In [136]:
LR_model.score(X_train,y_train)

1.0

In [137]:
LR_model.score(X_test,y_test)

1.0